:root {
    --primary-brand-color: #4D5AE5;
    --pressed-stade-color: #404bbf;
    --dark-color: #2e2f42;
    --success-color: #31d0aa;
    --text-color: #434455;
    --subtle-text-color:  #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --background-color: #ffffff;

}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
ul {
    list-style: none;
}
.web {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.33;
    color: var(--primary-brand-color);
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.studio {
    color: var(--dark-color);
    text-decoration: none;
}
.studio-2 {
    color: var(--light-color);
    text-decoration: none;
}

.header {
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.header:hover {
    color: var(--pressed-stade-color);
    border-radius: 2px;
}
.header:focus {
    color: var(--pressed-stade-color);
    border-radius: 2px;
}
.header-2:hover {
    color: var(--pressed-stade-color);
}
.header-2:focus {
    color: var(--pressed-stade-color);
}
.header-2 {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.02em;
    font-style: normal;
    font-size: 16px;
}
.first-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--background-color); 
  
}
.begin {
    background-color: var(--dark-color);
}
.button-i {
    background-color: var(--primary-brand-color);
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-color);
    font-weight: 500;
}

.button-i:hover {
    background: var(--pressed-stade-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-i:focus {
    background: var(--pressed-stade-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.headers-sect-2 {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    font-weight: 500;
}

.ps-sect-2 {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
}

.team-section {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--dark-color);
}
.name-h {
    background: var(--background-color);
}
 .name {
    text-align: center;
 font-size: 20px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--dark-color);
 font-weight: 500;
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px; */
}
.name-2 {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.name-p {
font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.name-p-2 {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.p-footr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
        
}


/* .all:hover,
.site:hover,
.app:hover,
.design:hover,
.marketing:hover {background: #404BBF;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 2px 1px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;} */

.button-p {
    background: var(--light-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-brand-color);
}
.button-p:hover {
    background: var(--pressed-stade-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--background-color);
}
.button-p:focus {
    background: var(--pressed-stade-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--background-color);
}
.footer {
    background-color: var(--dark-color);
}
.team {
    background-color: var(--light-color);
}

